
#container {
  display: grid;
  grid-template-columns: repeat(16, 6.25%);
  grid-template-rows: auto;
  text-align: center;
  height: 500px;
    width: 500px;
    margin: auto;
}

.grid {
  border: 1px solid;
}

.grid:hover{
  background-color: black;
}
